//Bulma
@import "bulma/sass";

//Show navbar burger on all devices
.navbar-burger {
  display: block !important;
  z-index: 100;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.page-wrapper {
  margin-top: 3rem !important;
}

.hamburger-card {
  position: absolute;
  min-width: 240px;
  right: 0px;
  width: 15vw !important;
}

.hamburger-card-header {
  top: 100%;
}

.hamburger-div {
  display: grid !important;
}

.application-form {
  min-width: 400px !important;
  width: 15vw;
}

.notification {
  position: fixed;
  min-width: 250px;
  min-height: 80px;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
}

.grid {
  grid-template-columns: 0.3fr 0.6fr 0.6fr 0.6fr 2fr 0.3fr !important;
  grid-gap: 0 !important;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto !important;
}

.header-cell {
  display: flex;
  height: 40px;
}

.control-cell {
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
  // border-left: 1px solid hsla(222, 14%, 71%, 0.3);
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.click-cell {
  cursor: pointer;
}

.header-cell-centered {
  align-items: center;
}

.line-item-cell {
  min-height: 64px;
  transition: min-height;
  transition-duration: 200ms;
  position: relative !important;
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.line-item-last {
  border-bottom: 1px solid hsla(222, 14%, 71%, 0.3);
}

.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-rb {
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.section-header {
  font-size: 10pt;
}

.notes-input {
  height: 100% !important;
  border: none !important;
  transition: height;
  transition-duration: 200ms;
  // z-index: 0;
}

.section-card {
  // border-radius: 32px;
  min-width: 53vw;
}

.expanded {
  min-height: 100px !important;
}

.top {
  z-index: 1000 !important;
}

.note-helper {
  position: absolute !important;
  z-index: 500;
  top: 0px;
  transition: top;
  transition-duration: 300ms;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.note-scoot {
  top: 100% !important;
}

.note-tag-r {
  right: 0;
}

.note-tag-l {
  left: 0;
}

.project-title {
  width: auto !important;
  font-size: 20pt !important;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content !important;
}

.title-card {
  width: 18vw !important;
  position: fixed;
}

.edit-field {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.edit-input {
  position: relative !important;
}

.edit-span {
  transition: transform;
  transition-duration: 200ms;
}

.pending-item-list {
  position: absolute !important;
  left: 100%;
  top: 0;
  width: 300px;
}

.item-cell {
  position: relative !important;
}

.pending-item-header {
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.pending-item-card {
  border: 1px solid rgb(68, 68, 68);
}

.pending-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tag-button {
  cursor: pointer;
}

.pending-item-title {
  cursor: pointer;
}

.field-error {
  min-height: 1.2em;
}

.ff-small {
  width: 180px;
}

.ff-med {
  width: 240px;
}
.ff-large {
  width: 340px;
}

.inline {
  display: flex !important;
  flex-direction: row;
}

.fit-box {
  width: fit-content !important;
}

.cb-container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aws-btn {
  --button-primary-color: #ffffff;
  --button-primary-color-light: #000000;
  --button-primary-color-hover: #ffffff;
  --button-primary-color-active: #b3b3b3;
  --button-primary-border: 1px solid #dadada00;
  --button-primary-color-dark: #cfcfcf00;
  --button-hover-pressure: 0;
  --button-default-border-radius: 0px;

  width: 101% !important;
  height: 100% !important;
  bottom: 0;
  // clip-path: inset(0 0 0 0);
  transition: height 120ms ease-in-out, width 130ms;

  position: absolute;
}

.raise {
  // --button-raise-level: 5px;
  --button-primary-color: #fcfcfc;
  --button-primary-color-hover: #f3f3f3;
  --button-primary-color-active: #91ff85;
  --button-primary-color-dark: #e7e7e7;
  --button-primary-border: 1px solid rgb(231, 231, 231);
  --button-default-border-radius: 4px;
  --button-shadow-color: #ffffff00;
  width: 98% !important;
  height: 112% !important;
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em hsla(221deg, 14%, 4%, 0.1),
    0 0 0 1px rgb(231, 231, 231);
  position: relative !important;
  z-index: 1000;
  border-radius: 9px;
  transition: box-shadow 220ms, border-radius 220ms;
}

.hover:hover {
  box-shadow: 0 0.5em 1em -0.125em hsla(220, 14%, 4%, 0.034),
    0 0 0 1px rgba(122, 122, 122, 0.11);
  position: relative !important;
  z-index: 1000;
  border-radius: 4px;
  transition: box-shadow;
  transition-duration: 20ms;
}

.check {
  --button-primary-color: #91ff85;
  --button-primary-color-hover: #91ff85;
  --button-primary-color-active: #fffd6a;
}

.question {
  --button-primary-color: #fffd6a;
  --button-primary-color-hover: #fffd6a;
  --button-primary-color-active: #f5f5f5;
}

.check-raise {
  --button-primary-border: 1px solid #60a059;
  --button-primary-color-dark: #76d36c;
}

.question-raise {
  --button-primary-border: 1px solid #cac02a;
  --button-primary-color-dark: #e0d466;
}

.header-button {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 65ms linear, margin 160ms ease-in-out,
    transform 130ms ease-in-out;
  margin: 0 0 10px 0;
}

.header-button:hover {
  box-shadow: var(--bulma-box-shadow);
  transform: translateY(-3px);
  position: relative;
  margin: 0 0 13px 0;
}

.proj-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 22px;
}

.proj-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px 22px 8px 22px;
  width: 100%;
  font-size: 0.8em;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 22px;
  height: 195px;
  overflow-y: auto;
}

.sec-header {
  position: relative;
  z-index: 10;
}
