@import "bulma/sass";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

//Show navbar burger on all devices
.navbar-burger {
  display: block !important;
  z-index: 100;
}

.hamburger-card {
  position: absolute;
  min-width: 240px;
  right: 0px;
  width: 15vw !important;
}

.hamburger-card-header {
  top: 100%;
}

.hamburger-div {
  display: grid !important;
}

.application-form {
  min-width: 400px !important;
  width: 15vw;
}

.notification {
  position: fixed;
  min-width: 250px;
  min-height: 80px;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
}
