//Bulma
@import "bulma/sass";

//Show navbar burger on all devices
.navbar-burger {
  display: block !important;
  z-index: 100;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  // z-index: 100;
}

.page-wrapper {
  margin-top: 3rem;
}

.hamburger-card {
  position: absolute;
  min-width: 240px;
  right: 0px;
  width: 15vw !important;
}

.hamburger-card-header {
  top: 100%;
}

.item-list-header {
  position: relative;
  z-index: 3;
  box-shadow: var(--bulma-card-header-shadow);
  height: 59px;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
}

.hamburger-div {
  display: grid !important;
}

.application-form {
  min-width: 400px !important;
  width: 15vw;
}

.notification {
  position: fixed;
  min-width: 250px;
  min-height: 80px;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
}

.grid {
  grid-template-columns: 0.3fr 0.6fr 0.6fr 0.6fr 2fr 0.3fr !important;
  grid-gap: 0 !important;
}

.grid-container {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
}

.project-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.header-cell {
  display: flex;
  height: 40px;
}

.control-cell {
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
  // border-left: 1px solid hsla(222, 14%, 71%, 0.3);
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.click-cell {
  cursor: pointer;
}

.header-cell-centered {
  align-items: center;
}

.line-item-cell {
  min-height: 64px;
  transition: min-height;
  transition-duration: 200ms;
  position: relative !important;
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.line-item-last {
  border-bottom: 1px solid hsla(222, 14%, 71%, 0.3);
}

.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-rb {
  // border-right: 1px solid hsla(222, 14%, 71%, 0.3);
}

.section-header {
  font-size: 10pt;
}

.notes-input {
  height: 100% !important;
  border: none !important;
  transition: height;
  transition-duration: 200ms;
  // z-index: 0;
}

.section-card {
  width: 960px;
  min-width: 50vw;
  max-width: 90vw;
}

.expanded {
  min-height: 100px !important;
}

.top {
  z-index: 1000 !important;
}

.note-helper {
  position: absolute !important;
  z-index: 500;
  top: 0px;
  transition: top;
  transition-duration: 300ms;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.note-scoot {
  top: 100% !important;
}

.note-tag-r {
  right: 0;
}

.note-tag-l {
  left: 0;
}

.project-title {
  width: auto !important;
  font-size: 20pt !important;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content !important;
}

.edit-field {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.edit-input {
  position: relative !important;
}

.edit-span {
  transition: transform;
  transition-duration: 200ms;
}
.side-card {
  width: 17vw;
  min-width: 345px;
  position: fixed;
  top: 3rem;
  // z-index: 50;
  height: auto;
  // transition: height 200ms linear;
}
.proj-card {
  left: 50px;
}

.item-list {
  right: 50px;
}

.item-cell {
  position: relative !important;
}

.pending-item-header {
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.pending-item-card {
  width: 100%;
  box-shadow: 0 0.5em 1em -0.125em hsla(221deg, 14%, 4%, 0.1),
    0 0 0 1px rgba(231, 231, 231, 0.692);
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-tag {
  background-color: rgba(64, 70, 84, 0.075);
}

.description-box {
  border-radius: 6px;
  padding: 0.5rem;
  padding-bottom: 1.2rem;
  width: 100%;
  background-color: rgba(64, 70, 84, 0.075);
  margin-bottom: 1.8rem;
}

.contact-card {
  margin: 0;
  width: 100%;
}
.tag-button {
  cursor: pointer;
}

.pending-item-title {
  cursor: pointer;
  font-size: 0.9em;
}

.field-error {
  min-height: 1.2em;
}

.ff-small {
  width: 180px;
}

.ff-med {
  width: 240px;
}
.ff-large {
  width: 340px;
}

.inline {
  display: flex !important;
  flex-direction: row;
}

.fit-box {
  width: fit-content !important;
}

.cb-container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aws-btn {
  --button-primary-color: #ffffff;
  --button-primary-color-light: #000000;
  --button-primary-color-hover: #ffffff;
  --button-primary-color-active: #b3b3b3;
  --button-primary-border: 1px solid #dadada00;
  --button-primary-color-dark: #cfcfcf00;
  --button-hover-pressure: 0;
  --button-default-border-radius-top: 0px;
  --button-default-border-radius-bottom: 0px;
  --button-default-border-radius: 0px;

  width: 101% !important;
  height: 100% !important;
  bottom: 0;
  // clip-path: inset(0 0 0 0);
  transition: height 120ms ease-in-out, width 130ms;

  position: absolute;
}

.raise {
  --button-primary-color: #fcfcfc;
  --button-primary-color-hover: #f3f3f3;
  --button-primary-color-active: #91ff85;
  --button-primary-color-dark: #e7e7e7;
  --button-primary-border: 1px solid rgb(231, 231, 231);
  --button-default-border-radius-top: 10px;
  --button-shadow-color: #ffffff00;
  width: 98% !important;
  height: 112% !important;
  -webkit-filter: box-shadow(0px 2px 3px rgba(255, 0, 0, 0.986));
  filter: box-shadow(0px 2px 3px rgba(255, 0, 0, 0.986));
  // -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  // filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}
.raise::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust as needed */
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.473) 100%
  );
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em hsla(221deg, 14%, 4%, 0.1),
    0 0 0 1px rgba(231, 231, 231, 0.692);
  position: relative !important;
  z-index: 1000;
  border-radius: 9px;
  transition: box-shadow 220ms, border-radius 220ms;
}

.hover:hover {
  box-shadow: 0 0.5em 1em -0.125em hsla(220, 14%, 4%, 0.034),
    0 0 0 1px rgba(122, 122, 122, 0.11);
  position: relative !important;
  z-index: 1000;
  border-radius: 4px;
  transition: box-shadow;
  transition-duration: 20ms;
}

.check {
  --button-primary-color: #91ff85;
  --button-primary-color-hover: #91ff85;
  --button-primary-color-active: #fffd6a;
}

.question {
  --button-primary-color: #fffd6a;
  --button-primary-color-hover: #fffd6a;
  --button-primary-color-active: #f5f5f5;
}

.check-raise {
  --button-primary-border: 1px solid #60a059;
  --button-primary-color-dark: #76d36c;
}

.question-raise {
  --button-primary-border: 1px solid #cac02a;
  --button-primary-color-dark: #e0d466;
}

.header-button {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 65ms linear, margin 160ms ease-in-out,
    transform 130ms ease-in-out;
  margin: 0 0 10px 0;
}

.header-button:hover {
  box-shadow: var(--bulma-box-shadow);
  transform: translateY(-3px);
  position: relative;
  margin: 0 0 13px 0;
}

.proj-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 22px;
}

.proj-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px 22px 8px 22px;
  width: 100%;
  font-size: 0.8em;
}

.item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 8px;
  width: 100%;
  font-size: 0.7em;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 22px;
  height: 195px;
  overflow-y: auto;
}

.sec-header {
  position: relative;
  z-index: 10;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.397) !important;
}

.item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px !important;
  min-height: 100px;
}

.item-list-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  max-height: 80vh;
  min-height: 200px;
  // overflow-y: auto;
}

//Animations
.item-card-enter {
  filter: opacity(0);
  transform: translateX(-5%);
}
.item-card-enter-active {
  filter: opacity(1);
  transform: translateX(0%);
  transition: all 65ms;
}

.item-card-exit-active {
  filter: opacity(0);
  transform: translateX(-5%);
  transition: all 65ms ease;
}

//Header card
.header-card-enter {
  filter: opacity(0);
  transform: translateY(-5%);
}
.header-card-enter-active {
  filter: opacity(1);
  transform: translateY(0%);
  transition: all 300ms ease-out 60ms;
}
.header-card-exit {
}
.header-card-exit-active {
  filter: opacity(0);
  transform: translateY(-5%);
  transition: all 300ms ease-out;
}

//Project sections
.section-enter {
  filter: opacity(0);
  transform: translateY(-2%);
}
.section-enter-active {
  filter: opacity(1);
  transform: translateY(0%);
  transition: all 300ms ease-out 160ms;
}
.section-exit {
}
.section-exit-active {
  filter: opacity(0);
  transform: translateY(-2%);
  transition: all 300ms ease-out;
}

//modal
.modal-enter {
  filter: opacity(0);
  transform: scale(95%);
}
.modal-enter-active {
  filter: opacity(1);
  transform: scale(100%);
  transition: all 100ms ease-out 10ms;
}
.modal-exit {
}
.modal-exit-active {
  filter: opacity(0);
  transform: scale(95%);
  transition: all 100ms ease-out;
}

//pendingitem list
.item-list-enter {
  filter: opacity(0);
  transform: translateY(-5%);
}
.item-list-enter-active {
  transition: all 250ms cubic-bezier(0.12, 0.415, 0.36, 0.995) 50ms;
  filter: opacity(1);
  transform: translateY(0%);
}
.item-list-exit {
}
.item-list-exit-active {
  transition: all 120ms cubic-bezier(0.12, 0.415, 0.36, 0.995);
  filter: opacity(0);
  transform: translateY(-5%);
}
